/* =====================
   PROJECTS PAGE
===================== */

.projects {
    padding: 70px 20px;
    background-color: #ffffff;
    text-align: center;
}

.projects h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #333;
}

.projects-container {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.project-card h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #ed0c2785;
}

.project-card p {
    font-size: 15px;
    color: #8e89a1;
    line-height: 1.6;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
    .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}


