* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #fff;
}


nav ul.menu {
  list-style: none;
  padding: 20px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  gap: 15px;
}

nav ul.menu li a {
  padding: 12px 24px;
  background: #7a1c1c;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul.menu li a.active {
  background: #5c1212;
}